In [18]:
import pandas as pd 
import numpy as np 
import os
import seaborn as sns

In [19]:
df = pd.read_csv("D:\Final Project (IBM)\Archivee\Airbnb_Open_Data.csv")

In [20]:
df.head(5)

,Unnamed: 0,unnamed:_0,name,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,instant_bookable,...,construction_year,price,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,days_booked
0,0,0,Clean & quiet apt home by the park,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,False,...,2020.0,$966,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0
1,1,1,Skylit Midtown Castle,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,False,...,2007.0,$142,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0
2,2,2,THE VILLAGE OF HARLEM....NEW YORK !,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,True,...,2005.0,$620,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0
3,3,3,NaN,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,True,...,2005.0,$368,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0
4,4,4,Entire Apt: Spacious Studio/Loft by central park,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,False,...,2009.0,$204,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0

In [21]:
df.dtypes

Unnamed: 0                          int64
unnamed:_0                          int64
name                               object
host_identity_verified             object
host_name                          object
neighbourhood_group                object
neighbourhood                      object
lat                               float64
long                              float64
instant_bookable                   object
cancellation_policy                object
room_type                          object
construction_year                 float64
price                              object
service_fee                        object
minimum_nights                    float64
number_of_reviews                 float64
last_review                        object
reviews_per_month                 float64
review_rate_number                float64
calculated_host_listings_count    float64
days_booked                       float64
dtype: object

In [22]:
df = df.drop(columns = ["id", "license", "house_rules", "host id", "country", "country code"])
#removed id since it's only required to authenticate customers. No useful insights could be obtained since I'm already using name to identify customers
#removed license because it's empty
#removed house rules because they aren't quantitative data and can't be analyzed
#removed host id for same reason as customer id
#removed country since the data set is from the U.S only
#removed couuntry id for the same reason

KeyError: "['id', 'license', 'house_rules', 'host id', 'country', 'country code'] not found in axis"

In [23]:
missing_values_objs = df.select_dtypes(include='object').isnull().sum().sort_values()
print(np.mean(missing_values_objs))
missing_values_int = df.select_dtypes(include='int64').isnull().sum().sort_values()
print(np.median(missing_values_objs))

1598.5454545454545
247.0

In [24]:
df.duplicated().sum()

0

In [25]:
df.shape

(102599, 22)

In [26]:
df.rename(columns = {"availability 365" : "days_booked"}, inplace = True)

In [27]:
df.columns = [col.lower().replace(" ", "_") for col in df.columns]

In [28]:
def removedolla(value):
    if pd.isna(value):
        return np.NaN
    else:
        return float(value.replace("$","").replace(",","").replace(" ",""))

In [29]:
df['room_type'].value_counts()

room_type
Entire home/apt    53701
Private room       46556
Shared room         2226
Hotel room           116
Name: count, dtype: int64

In [30]:
df_group_two = df[df['cancellation_policy']=='strict']

In [31]:
grp1 = df['price'].groupby(df['neighbourhood_group']).sum().sort_values(ascending = True)

In [32]:
df.to_csv(r"D:\Final Project (IBM)\Archivee\Airbnb_Open_Data.csv")